<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>musicShack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6975BD1E1D7D3DE70012B029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6975BD371D7D3DE70012B029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6975BD421D7D3DE70012B029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
